@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


:root{
  --gradient:hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --purple: hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --white: white;
  --body-font: "Montserrat", sans-serif;
  --font-size:15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:var(--body-font);
  background-color: var(--very-light-grayish-blue);
  position: relative;
  min-height: 100vh;
  max-width: 1440px;
}
.icon-top{
  position:absolute;
  left: 70rem;
  top: -5rem;
}
.icon-bottom{
  position:absolute;
  bottom: -1rem;
}
/* Nav */
header{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding:3rem 0;
 gap: 2rem;
}
nav{
  display: flex;
  align-items: center;
}


/* Toggle btn */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}